graft docs
include docs.html
graft pygeodesy3/base
graft pygeodesy3/deprecated
graft pygeodesy3/distances
graft pygeodesy3/earth
graft pygeodesy3/elevations
graft pygeodesy3/ellipsoidal
graft pygeodesy3/geodesic
graft pygeodesy3/geodesic/exact
graft pygeodesy3/grids
graft pygeodesy3/maths
graft pygeodesy3/maths/auxilats
graft pygeodesy3/miscs
graft pygeodesy3/polygonal
graft pygeodesy3/projections
graft pygeodesy3/rhumb
graft pygeodesy3/spherical
graft test
graft testcoverage
include testcoverage.pdf
include testcoverage.rc
graft testresults
